body{
  margin:0;
  font-family: Arial, sans-serif;
}

.top-bar{
  background:#1c4f7c;
  color:white;
  padding:6px;
  font-size:14px;
  display:flex;
  justify-content:space-around;
}

.logo-section{
  text-align:center;
  padding:15px;
}

.logo{
  width:120px;
}

.slider{
  width:100%;
  height:250px;
  position:relative;
  overflow:hidden;
}

.slide{
  width:100%;
  height:250px;
  position:absolute;
  opacity:0;
  transition:1s;
}

.slide.active{
  opacity:1;
}

.cards{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.card{
  padding:40px;
  color:white;
  text-align:center;
  font-size:18px;
}

.purple{background:#a06cd5;}
.blue{background:#3f51b5;}
.teal{background:#26a69a;}
.yellow{background:#fbc02d;color:black;}
.menu-btn{
  font-size:26px;
  cursor:pointer;
  position:fixed;
  top:15px;
  left:15px;
  z-index:1001;
  color:#1c4f7c;
}

.side-menu{
  position:fixed;
  top:0;
  left:-260px;
  width:260px;
  height:100%;
  background:#1c4f7c;
  padding-top:60px;
  transition:0.4s;
  z-index:1000;
}

.side-menu a{
  display:block;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  font-size:16px;
}

.side-menu a:hover{
  background:#163b5c;
}

.close-btn{
  position:absolute;
  top:15px;
  right:20px;
  font-size:30px;
  color:white;
  cursor:pointer;
}